@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: white;
}

.cabecalho-imagem {
    height: 60px;
    padding: 10px 68px 10px 68px ;
    border: 0.4px solid #df6706;
    border-radius: 8px 0px 8px 0px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 2px;
    font-family: 'Sarala', sans-serif;
    font-size: 9px;
    font-style: italic;
    
}

.cabecalho-titulo-esq {
    display: flex;
    padding: 20px 310px 20px 310px;
    border: 0.4px solid #050505;
    border-radius: 8px;
    background: #050505;
    color: white;
}

.cabecalho-titulo-dir {
    display: flex;
    padding: 20px 310px 20px 310px;
    border: 0.4px solid #050505;
    border-radius: 8px;
    background: #050505;
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-family: 'Sarala', sans-serif;
    font-size: 6px;
    font-style: italic;
    gap: 11px;
    
}

.menu-esq {
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding: 15px 100px;
    border: 0.4px solid #0e0d0d;
    background: #050505;
    color: white;
    
}

.menu-dir {
    display: flex;
    flex-direction: row;
    gap: 150px;
    border: 0.4px solid #0e0d0d;
    padding: 15px 100px;
    background: #050505;
    color: white;
    
    
}
